!.gitignore
!gradle/

.svn
.classpath
.project
.gradle
ObjectStore/
.settings/
out/
bin/
build/
tomcat.*/
out/
.DS_Store
tmp/
.removed
.springBeans
.idea/
*.iml
*.jar
env.properties
**/*.local.properties
**/*.local.xml
**/*local.sh
git.*.properties
*.swp
*.log
/Servers/
/.metadata/

