<?xml version="1.0" encoding="UTF-8" ?>
<configuration name="kii-bas" status="debug">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %m - %c{3}.%M(%L)%n"/>
        </Console>
    </Appenders>


    <Loggers>
        <Logger name="com.fasterxml.jackson" level="debug"/>

        <Logger name="org.apache.http" level="debug"/>


        <Logger name="org.springframework.web" level="debug"/>

        <Logger name="org.springframework.cache" level="debug"/>

        <Logger name="com.kii.extension" level="debug"/>

        <Root level="info">
            <appender-ref ref="console"/>
        </Root>

    </Loggers>
</configuration>